header .navbar {
  background-color: #1f2937; /* dark navy/gray */
  padding: 40px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 120px;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
  
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
